# Dependencies
/node_modules
.pnp.js
.pnpm-store/
.yarn/install-state.gz
node_modules/

# Lockfiles
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build output
.next/
out/
dist/
.cache/
build/

# Vercel/Netlify
.vercel/
.netlify/

# Backup / Temp / Accidental folders
* copy/
*/copy/
*.copy
*.log
*.pem

# Prisma
prisma/migrations/
app/generated/prisma/

# Env files
.env
.env.local
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor & IDE
.vscode/
.idea/

# Testing
/coverage

# TypeScript
*.tsbuildinfo
next-env.d.ts

# System junk
.DS_Store
Thumbs.db

# Public uploads (optional)
pu
